.navbar-nav {
    margin-left: auto;
}

.featurette-divider {
    margin: 5rem 0;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.featurette {
    padding-top: 120px;
    /* Vertically center images part 1: add padding above and below text. */
    overflow: hidden;
    /* Vertically center images part 2: clear their floats. */
}

.featurette-heading {
    font-weight: 500;
    line-height: 1;
    /* rtl:remove */
    letter-spacing: -.05rem;
}